@using DataBase.Entities;

@model IEnumerable<User>

@{
    ViewBag.Title = "Админ панель: пользователи";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список пользователей</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-center">ID</th>
                <th>@await Component.InvokeAsync("DisplayName", new { type = typeof(User), nameProp = nameof(DataBase.Entities.User.Name) })</th>
                <th>@await Component.InvokeAsync("DisplayName", new { type = typeof(User), nameProp = nameof(DataBase.Entities.User.Password) })</th>
                <th class="text-center">Действия</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-center">@item.Id</td>
                    <td>@Html.ActionLink(item.Name, "EditUser", new { UserId = item.Id })</td>
                    <td class="text-center">@item.Password</td>  
                    <td class="text-center">
                        @using (Html.BeginForm("DeleteUser", "Admin"))
                        {
                            @Html.Hidden("UserId", item.Id)
                            <input type="submit" class="btn btn-default btn-xs" value="Удалить" />
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Добавить пользователя", "CreateUser")
    </div>
</div>